div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
    text-align: right;
    height: 33%;
    width: 40%;
    margin: 0 auto;
}

header {
    font-weight: bold;
    background-color: darkgray;
    text-align: center;
    height: 10%;
}

input, textarea {
    width: 30%;
    padding: 12px 20px;
    margin: auto 10% auto 10%;
    box-sizing: border-box;
}

.button {
    text-align: center;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
}




